<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NodeJS</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/homepage">Home <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/create">Create User</a></li>
        <li><a href="#">Pricing</a></li>
      </ul>
      <p class="navbar-text">Navbar text with an inline element</p>
    </div>
  </div>
</nav>

<form  id="userForm" method="post" action="/create-user" enctype="multipart/form-data">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input name="email" type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input name="password" type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="mb-3">
    <label for="formFile" class="form-label">UPLOAD_Image</label>
    <input class="form-control" type="file" id="formFile" name="form-control" accept="images/*">
  </div>
  <div>
    <label>Store Image</label><br><br>
    <p><%=(typeof alertMsg!='undefined')? alertMsg:''%></p>
    <input type="file"  name="image" multiple>
    <button type="submit">Upload</button>
     </div>
  <button type="submit" class="btn btn-primary">Create User</button>
</form>


<div id="myModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">LỖI</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Vui Lòng Nhập đầy đủ thông tin </p>
      </div>
      <div class="modal-footer">
        <button id="btn" type="button" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>
<script src="/js/create.js">
  // $(document).ready(function() {
  //   $('#userForm').submit(function(event) {
  //     event.preventDefault();
  //     var email = $('#inputEmail4').val();
  //     var password = $('#inputPassword4').val();
  //     if (!email || !password) {
  //       $('#myModal').modal('show');
  //     } else {
  //       this.submit();
  //     }
  //   });

  //   $('#btn').click(function() {
  //     $('#myModal').modal('hide');
  //   });
  // });
</script>

</body>
</html>