<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS</title>
    <link rel="stylesheet" href="../Public/css/style.css">
<body>
    <p>Hello world!</p>
    <div>
        <img src="/images/326490163_841706466901702_6032168754364444291_n.jpg" alt="">
    </div>
    
</body>

</html>