<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/report.css">
  <link rel="stylesheet" href="/css/homepage.css">

  <!-- Embed font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,600;1,600&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet" />
  <link 
    href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Iceland&family=Open+Sans&family=Oswald&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@500&display=swap" 
    rel="stylesheet" />

    <!-- link for icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <script src="calendar.js" defer></script>

  <!-- Embed icon -->
  <script defer src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body >
  <!-- sidebar --> 
  <div class="background">
  </div> 
  <aside class="sidebar">
    <!-- Logo -->
    <img src="/img/logo.svg" alt="logo" />

     <!-- btn close -->
     <div class="btn-close" style="cursor: pointer;"><i class='bx bx-x'></i></div>

    <!-- navigation -->
    <ul class="nav">
      <li>
        <a href="/" class="btn">
          <i class="bx bxs-grid-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li>
        <div class="btn btn-list" style="cursor: pointer">
          <i class="bx bxs-report"></i>
          <span>Reports</span>
          <i class="bx bx-chevron-down bx-chevron-down-1"></i>
        </div>
      </li>

      <!-- subnav -->
      <ul class="sub-nav-1">
        <li>
          <a href="/VacationDaysReport" class="btn">
            <span> Taken vacation days</span>
          </a>
        </li>
        <li>
          <a href="/TotalEarningsReport" class="btn">
            <span>Total Earnings</span>
          </a>
        </li>
        <li>
          <a href="/AverageBenefitsReport" class="btn">
            <span>Average Benefits</span>
          </a>
        </li>
      </ul>

      <li>
        <div class="btn btn-list-2" style="cursor: pointer">
          <i class="bx bxs-report "></i>
          <span>Alert</span>
          <i class="bx bx-chevron-down bx-chevron-down-2"></i>
        </div>
      </li>

      <ul class="sub-nav-2">
        <li>
          <a href="/HiringAnniversaryAlert" class="btn">
            <span>Alert Hiring Anniversary</span>
          </a>
        </li>

        <li>
          <a href="/VacationDaysAlert" class="btn">
            <span>Alert Vacation Days</span>
          </a>
        </li>

        <li>
          <a href="/BenefitsPlanAlert" class="btn">
            <span>Alert Benefits Plan</span>
          </a>
        </li>

        <li>
          <a href="/BirthdayAlert" class="btn">
            <span>Alert Birthday</span>
          </a>
        </li>

      </ul>

      <li>
        <div class="btn btn-list-2" style="cursor: pointer">
          <i class="bx bxs-report "></i>
          <span>Account</span>
          <i class="bx bx-chevron-down bx-chevron-down-2"></i>
        </div>
      </li>

      <ul class="sub-nav-2">
        <li>
          <a href="/Roles" class="btn">
            <span>Roles</span>
          </a>
        </li>

        <li>
          <a href="/Permissions" class="btn">
            <span>Permissions</span>
          </a>
        </li>

        <li>
          <a href="/Accounts" class="btn">
            <span>Accounts</span>
          </a>
        </li>

      <ul class="sub-nav-3">
        <li>
          <a href="/Information" class="btn">
            <span>Information Management</span>
          </a>
        </li>
      </ul>
      <li>
        <a href="/logout"  class="btn">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          <span>Log out</span>
        </a>
      </li>
    </ul>
  </aside>

  <!-- content -->
  <div class="content"> 
    <!-- btn click --> 
    <div class="btn-action"></div>

  <main>

    <div class="main__content">

      <h2>MY Dashboard</h2>
      <div class="content__company">
          <div class="content_intro">
              <h3>Introduction</h3>
              <h5>Welcome to our company! We are a multidisciplinary company operating with the goal of bringing maximum value and satisfaction to customers.

                With over 10 years of experience, we have built a solid reputation in our field. We are proud to have a team of talented and passionate experts, always ready to meet all requests and challenges from customers.
                
                We are committed to bringing professionalism and honesty to every project we undertake. With dedication and attention to detail, we always ensure that every customer request is fully met and expectations are exceeded.</h5>
          </div>

          <div class="content_commit">
              <h3>Commit</h3>
              <h5>Our company not only focuses on bringing effective business solutions to customers, but also pays special attention to building long-term and trustworthy relationships. We always consider customers as partners and commit to accompanying them on their path to success.

                With the diversity of our service and product portfolio, we are confident that we can meet all of our customers' needs. From website design and development, advertising and marketing, to business consulting and data analysis, we have a team of experienced experts to ensure every project is delivered to the highest quality.
                
                Let us help you achieve your business goals. Contact us today to discover the great solutions we can offer. Thank you and congratulations on coming to our company! </h5>
          </div>



      </div>
    </div>

    <div class="main__calendar">

      <div class="wrapper">
        <header>
          <p class="current-date"></p>
          <div class="icons">
            <span id="prev" class="material-symbols-rounded">chevron_left</span>
            <span id="next" class="material-symbols-rounded">chevron_right</span>
          </div>
        </header>
        <div class="calendar">
          <ul class="weeks">
            <li>Sun</li>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
          </ul>
          <ul class="days"></ul>
        </div>

        
      </div>


    </div>

  </main>
  
  
  <header class="header">
    <div id="clock"></div>
  </header>

  
  
  <script src="/js/reportScripts.js"></script>
  <script src="/js/calendar.js"></script>
</body>

</html>