<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Dashboard - Login</title>
</head>

<body>
    <form action="/Login" method="get">
        <div class="wrapper">
            <div class="form-group">
                <label for="">ID</label>
                <input type="text" name="id" />
            </div>

            <div class="form-group">
                <label for="">PASSWORD</label>
                <input type="text" name="password" />
            </div>
        </div>

        <button type="submit" class="submit">Submit</button>
    </form>
</body>

</html>