@import  url(https://fonts.googleapis.com/css?family=Montserrat);
:root {
    --color-light: white;
    --color-dark: #212121;
    --color-signal: #fab700;
    
    --color-background: var(--color-light);
    --color-text: var(--color-dark);
    --color-accent: var(--color-signal);
    
    --size-bezel: .5rem;
    --size-radius: 4px;
    
    line-height: 1.4;
    
    font-family: 'Inter', sans-serif;
    font-size: calc(.6rem + .4vw);
    color: var(--color-text);
    background: var(--color-background);
    font-weight: 300;
    padding: 0 calc(var(--size-bezel) * 3);
  }

form {
    background-color: #272343;
    padding: 30px 0;
}

input {
  height: 30px;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 300px;
}

button {
  height: 30px;
}


.content {
    padding: 0 41px 0 !important;
}  

.wrapper {
    width: 750px;
    background-color: #FFD5DD;
    margin: auto;
    padding: 20px;
    border-radius: 28px;
}


.top {
    display: flex;
    justify-content: space-around;
}

.info_title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 13.3px;
    letter-spacing: 2%;
    padding-top: 20px;
    padding-left: 8px;
    color: #0F123F;
}

.info_img {
    width: 70px;
    height: 55px;
}

.info_img img {
    width: 100%;
    height: 100%;
    gap: 0px;
    border-radius: 60px;
    object-fit: cover;
}

.form-group {
    display: flex;
}

.headInfo {
    width: 300px;
    text-align: left;
    color: brown;
    display: inline-block;
    font-weight: 500;
}

.detailInfo {
    display: inline-block;
    /* max-width: 300px;  */
    word-wrap: break-word;
    
}

.main-info {
    padding-left: 10px;
    width: 800px;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 8px;
    letter-spacing: 2%;
    color: #DC1B21;
    margin-bottom: 20px;
}

.employment {
    width: fit-content;
    margin-top: 20px;
    padding-left: 10px;
    width: 600px;
}

body {
    background-color: #716040;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 40px;
}
