.main-bottom {
  margin-top: 40px;
}
.main-bottom .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  line-height: 1.5;
}

.main-bottom .btn-primary {
  padding: 5px 20px;
  border: none;
  border-radius: 4px;
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.btn-primary:hover {
  background-color: #0a58ca;
}

.content-table {
  margin-top: 20px;
}

.content-table td input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.content-table th {
  padding: 20px 0 20px 32px;
}

.content-table td {
  padding: 10px 0 10px 32px;
  background-color: white;
}

.content-table .feature-name {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}
