.button_rr {
    border: none;
    color: red;
    background-color: pink;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.my_body_my_choice {
    background-image: url("resources/gif/8351321.gif");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.f_copyright {
    border-style: double;
    background-color: rgb(0, 0, 0, 0.9);
    position: fixed;
    bottom: 0px;
    color: greenyellow;
}