USE [master]
Go
IF  EXISTS (SELECT * FROM sys.databases WHERE name = 'HumanResourceDB')
alter database [HumanResourceDB] set single_user with rollback immediate
IF  EXISTS (SELECT * FROM sys.databases WHERE name = 'HumanResourceDB')
DROP DATABASE [HumanResourceDB]
GO
CREATE DATABASE [HumanResourceDB]
GO
IF  EXISTS (SELECT * FROM sys.databases WHERE name = 'HumanResourceDB')
USE [HumanResourceDB]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF  EXISTS (SELECT * FROM sys.databases WHERE name = 'HumanResourceDB')
CREATE TABLE [dbo].[BENEFIT_PLANS](
	[BENEFIT_PLANS_ID] [numeric](18, 0) NOT NULL,
	[PLAN_NAME] [nchar](10) NULL,
	[DEDUCTABLE] [money] NULL,
	[PERCENTAGE_COPAY] [numeric](18, 0) NULL,
 CONSTRAINT [PK_BENEFIT_PLANS] PRIMARY KEY CLUSTERED 
(
	[BENEFIT_PLANS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF  EXISTS (SELECT * FROM sys.databases WHERE name = 'HumanResourceDB')
CREATE TABLE [dbo].[EMPLOYMENT](
	[EMPLOYMENT_ID] [numeric](18, 0) NOT NULL,
	[EMPLOYMENT_CODE] [nvarchar](50) NULL,
	[EMPLOYMENT_STATUS] [nchar](10) NULL,
	[HIRE_DATE_FOR_WORKING] [date] NULL,
	[WORKERS_COMP_CODE] [nchar](10) NULL,
	[TERMINATION_DATE] [date] NULL,
	[REHIRE_DATE_FOR_WORKING] [date] NULL,
	[LAST_REVIEW_DATE] [date] NULL,
	[NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH] [numeric](18, 0) NULL,
	[PERSONAL_ID] [numeric](18, 0) NULL,
 CONSTRAINT [PK_EMPLOYMENT] PRIMARY KEY CLUSTERED 
(
	[EMPLOYMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF  EXISTS (SELECT * FROM sys.databases WHERE name = 'HumanResourceDB')
CREATE TABLE [dbo].[EMPLOYMENT_WORKING_TIME](
	[EMPLOYMENT_WORKING_TIME_ID] [numeric](18, 0) NOT NULL,
	[EMPLOYMENT_ID] [numeric](18, 0) NULL,
	[YEAR_WORKING] [date] NULL,
	[MONTH_WORKING] [numeric](2, 0) NULL,
	[NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH] [numeric](2, 0) NULL,
	[TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH] [numeric](2, 0) NULL,
 CONSTRAINT [PK_EMPLOYMENT_WORKING_TIME] PRIMARY KEY CLUSTERED 
(
	[EMPLOYMENT_WORKING_TIME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF  EXISTS (SELECT * FROM sys.databases WHERE name = 'HumanResourceDB')
CREATE TABLE [dbo].[JOB_HISTORY](
	[JOB_HISTORY_ID] [numeric](18, 0) NOT NULL,
	[EMPLOYMENT_ID] [numeric](18, 0) NULL,
	[DEPARTMENT] [nvarchar](250) NULL,
	[DIVISION] [nvarchar](250) NULL,
	[FROM_DATE] [date] NULL,
	[THRU_DATE] [date] NULL,
	[JOB_TITLE] [nvarchar](250) NULL,
	[SUPERVISOR] [nvarchar](250) NULL,
	[LOCATION] [nvarchar](250) NULL,
	[TYPE_OF_WORK] [smallint] NULL,
 CONSTRAINT [PK_JOB_HISTORY] PRIMARY KEY CLUSTERED 
(
	[JOB_HISTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF  EXISTS (SELECT * FROM sys.databases WHERE name = 'HumanResourceDB')
CREATE TABLE [dbo].[PERSONAL](
	[PERSONAL_ID] [numeric](18, 0) NOT NULL,
	[CURRENT_FIRST_NAME] [nvarchar](50) NULL,
	[CURRENT_LAST_NAME] [nvarchar](max) NULL,
	[CURRENT_MIDDLE_NAME] [nvarchar](50) NULL,
	[BIRTH_DATE] [date] NULL,
	[SOCIAL_SECURITY_NUMBER] [nvarchar](20) NULL,
	[DRIVERS_LICENSE] [nvarchar](50) NULL,
	[CURRENT_ADDRESS_1] [nvarchar](255) NULL,
	[CURRENT_ADDRESS_2] [nvarchar](255) NULL,
	[CURRENT_CITY] [nvarchar](100) NULL,
	[CURRENT_COUNTRY] [nvarchar](100) NULL,
	[CURRENT_ZIP] [numeric](18, 0) NULL,
	[CURRENT_GENDER] [nvarchar](20) NULL,
	[CURRENT_PHONE_NUMBER] [nvarchar](15) NULL,
	[CURRENT_PERSONAL_EMAIL] [nvarchar](50) NULL,
	[CURRENT_MARITAL_STATUS] [nvarchar](50) NULL,
	[ETHNICITY] [nchar](10) NULL,
	[SHAREHOLDER_STATUS] [smallint] NULL,
	[BENEFIT_PLAN_ID] [numeric](18, 0) NULL,
 CONSTRAINT [PK_PERSONAL] PRIMARY KEY CLUSTERED 
(
	[PERSONAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[BENEFIT_PLANS] ([BENEFIT_PLANS_ID], [PLAN_NAME], [DEDUCTABLE], [PERCENTAGE_COPAY]) 
VALUES (CAST(1 AS Numeric(18, 0)), N'Founder', 5000000000.0000, CAST(20 AS Numeric(18, 0)))
INSERT [dbo].[BENEFIT_PLANS] ([BENEFIT_PLANS_ID], [PLAN_NAME], [DEDUCTABLE], [PERCENTAGE_COPAY]) 
VALUES (CAST(2 AS Numeric(18, 0)), N'Share', 1000000000.0000, CAST(10 AS Numeric(18, 0)))
INSERT [dbo].[BENEFIT_PLANS] ([BENEFIT_PLANS_ID], [PLAN_NAME], [DEDUCTABLE], [PERCENTAGE_COPAY]) 
VALUES (CAST(3 AS Numeric(18, 0)), N'Bonus', 500000000.0000, CAST(10 AS Numeric(18, 0)))
GO
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) 
VALUES (CAST(1 AS Numeric(18, 0)), N'Gc863zrkxXsvpo1W', N'Full time', CAST(N'2023-03-08' AS Date), N'FD', NULL, NULL, CAST(N'2023-03-08' AS Date), CAST(22 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) 
VALUES (CAST(2 AS Numeric(18, 0)), N'keDzKyIHZ7wCspN5', N'Full time ', CAST(N'2023-03-08' AS Date), N'CFD', NULL, NULL, CAST(N'2023-03-08' AS Date), CAST(22 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID], [EMPLOYMENT_CODE], [EMPLOYMENT_STATUS], [HIRE_DATE_FOR_WORKING], [WORKERS_COMP_CODE], [TERMINATION_DATE], [REHIRE_DATE_FOR_WORKING], [LAST_REVIEW_DATE], [NUMBER_DAYS_REQUIREMENT_OF_WORKING_PER_MONTH], [PERSONAL_ID]) 
VALUES (CAST(3 AS Numeric(18, 0)), N'uBdzCEUGhODNoHJe', N'Full time', CAST(N'2023-03-08' AS Date), N'CFD', NULL, NULL, CAST(N'2023-04-20' AS Date), CAST(22 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)))
GO
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) 
VALUES (CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(N'2023-01-01' AS Date), CAST(3 AS Numeric(2, 0)), CAST(22 AS Numeric(2, 0)), CAST(0 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) 
VALUES (CAST(2 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)), CAST(N'2023-01-01' AS Date), CAST(3 AS Numeric(2, 0)), CAST(22 AS Numeric(2, 0)), CAST(0 AS Numeric(2, 0)))
INSERT [dbo].[EMPLOYMENT_WORKING_TIME] ([EMPLOYMENT_WORKING_TIME_ID], [EMPLOYMENT_ID], [YEAR_WORKING], [MONTH_WORKING], [NUMBER_DAYS_ACTUAL_OF_WORKING_PER_MONTH], [TOTAL_NUMBER_VACATION_WORKING_DAYS_PER_MONTH]) 
VALUES (CAST(3 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)), CAST(N'2023-01-01' AS Date), CAST(3 AS Numeric(2, 0)), CAST(22 AS Numeric(2, 0)), CAST(0 AS Numeric(2, 0)))
GO
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) 
VALUES (CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'Development', N'Lead', CAST(N'2023-03-08' AS Date), CAST(N'2023-10-05' AS Date), N'Founder', NULL, N'Đà Nẵng', 1)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) 
VALUES (CAST(2 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)), N'Development', N'Member', CAST(N'2023-03-08' AS Date), CAST(N'2023-10-05' AS Date), N'Co-Founder', NULL, N'Đà Nẵng', 2)
INSERT [dbo].[JOB_HISTORY] ([JOB_HISTORY_ID], [EMPLOYMENT_ID], [DEPARTMENT], [DIVISION], [FROM_DATE], [THRU_DATE], [JOB_TITLE], [SUPERVISOR], [LOCATION], [TYPE_OF_WORK]) 
VALUES (CAST(3 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)), N'Development', N'Member', CAST(N'2023-03-08' AS Date), CAST(N'2023-10-05' AS Date), N'Co-Founder', NULL, N'Đà Nẵng', 2)

GO
ALTER TABLE [dbo].[EMPLOYMENT]  WITH NOCHECK ADD  CONSTRAINT [FK_EMPLOYMENT_PERSONAL] FOREIGN KEY([PERSONAL_ID])
REFERENCES [dbo].[PERSONAL] ([PERSONAL_ID])
GO
ALTER TABLE [dbo].[EMPLOYMENT] CHECK CONSTRAINT [FK_EMPLOYMENT_PERSONAL]
GO
ALTER TABLE [dbo].[EMPLOYMENT_WORKING_TIME]  WITH NOCHECK ADD  CONSTRAINT [FK_EMPLOYMENT_WORKING_TIME_EMPLOYMENT] FOREIGN KEY([EMPLOYMENT_ID])
REFERENCES [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID])
GO
ALTER TABLE [dbo].[EMPLOYMENT_WORKING_TIME] CHECK CONSTRAINT [FK_EMPLOYMENT_WORKING_TIME_EMPLOYMENT]
GO
ALTER TABLE [dbo].[JOB_HISTORY]  WITH NOCHECK ADD  CONSTRAINT [FK_JOB_HISTORY_EMPLOYMENT] FOREIGN KEY([EMPLOYMENT_ID])
REFERENCES [dbo].[EMPLOYMENT] ([EMPLOYMENT_ID])
GO
ALTER TABLE [dbo].[JOB_HISTORY] CHECK CONSTRAINT [FK_JOB_HISTORY_EMPLOYMENT]
GO
ALTER TABLE [dbo].[PERSONAL]  WITH NOCHECK ADD  CONSTRAINT [FK_PERSONAL_BENEFIT_PLANS] FOREIGN KEY([BENEFIT_PLAN_ID])
REFERENCES [dbo].[BENEFIT_PLANS] ([BENEFIT_PLANS_ID])
GO
ALTER TABLE [dbo].[PERSONAL] CHECK CONSTRAINT [FK_PERSONAL_BENEFIT_PLANS]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MÃ CÔNG VIỆC' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EMPLOYMENT', @level2type=N'COLUMN',@level2name=N'WORKERS_COMP_CODE'
GO


